.App {
  text-align: center;
}

.h5 {
  border-bottom: "3px solid green"
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#fact23 {
  background: url("https://abs.green/files/pics/csm_Heydar-Aliyev-Center-6-cropped_web_v2_efbc456ba1.jpg") center top no-repeat fixed;
  background-size: cover;
  padding: 100px 0 ;
  position: relative;
  height: 300px;
  }

  #fact23::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(5, 5, 5, 0.78);
  z-index: 0;
  }
  
  
  #fact23 .container {
  position: relative;
  z-index: 100;
  }


  .card:hover .image {
    opacity: 0.3;
    z-index: 100;
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  
  }
  
  .card:hover .middle {
    opacity: 1;
  }

  .c{
    padding: 10px;
    color: black;
  }
  .cc{
    padding: 20px;
    color: black;
    font-weight: bolder;
    font-size: 18px;
  }

  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    /* font-weight: 800px; */
    border-radius: 10px;
    
  }

  @media only screen and (max-width: 600px) {
    .ig{
      width: 300px;
    }
  }

  





